.entitites-page__entity-list {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.entities-page__entity_row {
  border-bottom: 1px solid #999;
}

.entities-page__entity_id {
  display: inline-block;
  width: 50%;
}

.entities-page__event-count {
  display: inline-block;
  width: 50%;
}
